.left {
  width: 300px;
  height: 500px;
  border: 1px solid #ccc;
  text-align: center;
}
.left .chat-content {
  margin: 0 auto;
  width: 200px;
  height: 370px;
  box-shadow: 0px 4px 5px #ccc;
}
/* @media screen and (max-width: 700px) {
  .left {
    width: 150px;
    height: 500px;
    border: 1px solid #ccc;
    line-height: 500px;
    text-align: center;
  }
} */